@model IEnumerable<MVCExample.Models.Staff>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table table-hover" id="tableViewAll">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.maNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.chucVu)
                </td>
                <td class="d-flex" style="justify-content: space-around;">
                    <buton class="btn btn-warning ">@Html.ActionLink("Edit", "Edit", new { id = item.maNhanVien })</buton>
                    <form onclick="return jQueryDelete(this)" asp-action="Delete" asp-route-id="@item.maNhanVien" >
                        <input type="submit" id="submitDeleteForm" value="Xóa" class="btn btn-danger " />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>