@model PagedList.IPagedList<MVCExample.Models.Staff>
@using PagedList.Mvc;


<table class="table table-hover" id="table-refresh">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ma_nhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ho_ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ngay_sinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().dia_chi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().chuc_vu)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="tableViewAll">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ma_nhanvien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ho_ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngay_sinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dia_chi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.chuc_vu)
                </td>
                <td class="d-flex" style="justify-content: space-around;">
                    <a onclick="showPopUp('@Url.Action("Edit","Staff",new {id = item.ma_nhanvien })','Sửa nhân viên')"
                       class="btn btn-warning"><i class="far fa-edit"></i>Sửa</a>
                    @* form xoa *@
                    <a onclick="showPopUp('@Url.Action("Delete","Staff",new {id = item.ma_nhanvien })','Xóa nhân viên')"
                       class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
      
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


@* form  *@
<div class="modal" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" text-center></h2>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>