@model IEnumerable<MVCExample.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="add-search">
    <p class="add">
        <a asp-action="Create">Thêm nhân viên</a>
    </p>
    <form asp-action="Index" class="search">
        <span>Tìm kiếm</span>
        @Html.TextBox("keyword")
    </form>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chucVu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maNhanVien }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maNhanVien })
            </td>
        </tr>
        }
    </tbody>
</table>
