@model IEnumerable<MVCExample.Models.Staff>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table table-hover" id="tableViewAll">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ma_nhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ho_ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngay_sinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dia_chi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chuc_vu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ma_nhanvien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ho_ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngay_sinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dia_chi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.chuc_vu)
                </td>
                <td class="d-flex" style="justify-content: space-around;">
                    <buton class="btn btn-warning ">@Html.ActionLink("Edit", "Edit", new { id = item.ma_nhanvien })</buton>
                    <form onclick="return jQueryDelete(this)" asp-action="Delete" asp-route-id="@item.ma_nhanvien">
                        <input type="submit" id="submitDeleteForm" value="Xóa" class="btn btn-danger " />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>