@model IEnumerable<MVCExample.Models.Staff>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Index</h1>
<div class="add-search">
    <a onclick="showPopUp('@Url.Action("Create","Staff")','Thêm mới')" class="btn btn-success" style="color: #fff;"><i
            class="fas fa-user-plus"></i> Thêm mới</a>


    @* <div onkeydown="return JquerySearchForm(this)">*@
    <form class="search d-flex" id="formSearchView">
        <div id="inSearch123">
            @Html.TextBox("keyword")
        </div>
        <button type="submit" class="input-group-text border-0" id="buttonsearch123">
            Search
        </button>
    </form>
    @* <div class="input-group rounded">
        <input type="search" id="inSearch123" class="form-control rounded" placeholder="Nhập từ khóa..."
        aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="input-group-text border-0" id="search-addon btSearchForm">
        Search
        </button>
        </div>*@
</div>

@*</div>*@
<table class="table table-hover" id="table-refresh">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ma_nhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ho_ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngay_sinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dia_chi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chuc_vu)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="tableViewAll">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ma_nhanvien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ho_ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngay_sinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dia_chi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.chuc_vu)
                </td>
                <td class="d-flex" style="justify-content: space-around;">
                    <a onclick="showPopUp('@Url.Action("Edit","Staff",new {id = item.ma_nhanvien })','Sửa nhân viên')"
                    class="btn btn-warning"><i class="far fa-edit"></i>Sửa</a>
                    @* form xoa *@
                    <a onclick="showPopUp('@Url.Action("Delete","Staff",new {id = item.ma_nhanvien })','Xóa nhân viên')"
                    class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
